@font-face {
  font-family: 'Vogue';
  src: url('Vogue-Regular.woff2') format('woff2'),
      url('Vogue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-h2: sans-serif;
  --font-family-p : sans-serif;
}


body {
  background: rgb(255, 255, 60);
}

header {
  background: white;
  padding: 70px 40px 40px 40px;
}

h1 {
  font-size: 140px;
  text-align: center;
}

.button {
  font-family: sans-serif;
  font-size: 20px;  
  border-radius: 10px;
  background: rgb(211, 205, 205);
  margin: 30px;
  padding: 10px;
}

.button-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

