@font-face {
    font-family: 'Vogue';
    src: url('Vogue-Regular.woff2') format('woff2'),
        url('Vogue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

